body{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    background:#efeee7;
    border: #333333;
 }
 header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 80px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    padding:1px;
 }
 nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-top: -75px;
    float: right;
    padding: 30px;
 }
 
 body {
    color: #666666;
 
 }
 .topnav a {
    float: right;
    color: #777777;
    text-align: center;
    font-family:'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 }
 footer {
    position: absolute;
    bottom: 0;
    border-top: solid;
    border-color: #4aaaaf;
    border-width: 5px;
    background-color: #666666;
    width: 100%;
    height: 30px;
 }
 #footer-content {
    font-size: 5.5pt;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
 }
 h1 {
    width: 100%;
    color: #4aaaa5;
    padding: 10px 0;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin-left: 200px;
    float: absolute;
    border: #777777;
    margin-top: 0px;
 
 
 }
 h2 {
 color: #4aaaa5;
 padding: 10px;
 font-weight: bold;
 font-size: 14.5pt;
 }
 img {
    padding: 20px;
    float: left;
    margin: 0;
 }
 
 .container {
    width: 960px;
    border: #dddddd;
    background: #ffffff;
    margin: 0 auto;
 }
 
 form button{
    background: #4aaaaf;
    color: #ffff;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
 }
 #header-links {
    float:right;
 }
 #header-links ul li{
    display: inline;
 
 
 }
 .main-container {
    background-color: #fff;
    width: 960px;
    margin:0 auto;
    border: #dddddd;
    border: solid;
 }
 .align {
    margin-left: 30px;
    margin-top: 25px;
 }
 .portfolio-item{
     display: inline-block;
     position: absolute;
     width: 200px;
     height: 270px;
     /* transition: transform  .2s ease-in; */
 }
 .portfolio-item:nth-child(even){
     margin-left: 25px;
 }

 .portfolio-item:hover{
     transform: rotate(-4deg)scale(1.1,1.1);
 }
 .item-name{
     position: absolute;
     top: 100%;
     text-align: center;
     background-color: #4aaaa5;
     padding: 1em;
     color: #ffffff;
     z-index: inherit;
 }
 